.collectionSection {
  background: #111;
  padding: 20px;
  color: #fff;
}

.cardWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background: white;
  border-radius: 15px;
  /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); */
  padding: 20px;
  width: 200px;
  height: 300px;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  font-size: 14px;
  line-height: 1.5;
  margin: 10px;
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card:hover {
  transform: scale(1.05); /* Slightly enlarge on hover */
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.3); /* Stronger shadow on hover */
}

.cardTitle {
  font-size: 18px; /* Bold and larger for emphasis */
  font-weight: bold;
  margin-bottom: 10px;
  color: #333;
}

.partOfSpeech {
  font-weight: bold;
  color: #555;
}

.pronunciation {
  font-style: italic;
  color: #666;
}

.definition {
  margin-top: 10px;
  font-weight: bold;
  color: #333;
}

.exampleSentence {
  margin-top: 10px;
  font-size: 14px;
  color: #444;
}

.exampleTranslation {
  font-size: 14px;
  color: #666;
}
