.landingContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }

  .titleContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Align everything to the start */
    margin-left: auto; /* Align to the left edge */
    margin-right: auto; /* Center the container horizontally */
  }

  .landingTitle {
    font-size: 125px;
    font-weight: 700;
    display: flex;
    gap: 7px;
    margin: 0;
    text-align: center;
  }

  .landingText {
    color: #6e6e6e;
    font-size: 20px;
    font-style: italic;
    font-weight: 200;
    margin-top: 0;
    line-height: 1.5;
    padding: 0;
    align-self: flex-start;
    transform: translateX(7px);
    word-spacing: 0.375rem; /* Adjust spacing between words */

}




/* Container styling */

  /* Letter Styling */
  .letter {
    color: #2c2a2aec; /* Default gray */
    transition: color 0.3s ease, text-shadow 0.3s ease;
    animation: glowSequence 6.875s infinite; /* Infinite animation loop */
  }

/* Glowing Animation */
@keyframes glowSequence {
    0%, 9.09% {
      color: var(--glow-color);
      text-shadow: 0 0 5px var(--glow-color), 0 0 10px var(--glow-color), 0 0 15px var(--glow-color);
    }
    9.1%, 100% {
      color: #2c2a2adc;
      text-shadow: none;
    }
  }

  .letter[data-index="1"] {
    --glow-color: #0066FF; /* Noun (DodgerBlue) */
    animation-delay: 0s;
  }

  .letter[data-index="2"] {
    --glow-color: #FF0000; /* Verb (Red) */
    animation-delay: 1.25s;
  }

  .letter[data-index="3"] {
    --glow-color: #5F00B8; /* Adjective (Purple) */
    animation-delay: 2.5s;
  }

  .letter[data-index="4"] {
    --glow-color: #FFD500; /* Article (Yellow) */
    animation-delay: 3.75s;
  }

  .letter[data-index="5"] {
    --glow-color: #0066FF; /* Noun (DodgerBlue) Repeated */
    animation-delay: 5s;
  }

  .letter[data-index="6"] {
    --glow-color: #FF0000; /* Verb (Red) Repeated */
    animation-delay: 6.25s;
  }

  .letter[data-index="7"] {
    --glow-color: #5F00B8; /* Adjective (Purple) Repeated */
    animation-delay: 7.5s;
  }

  .letter[data-index="8"] {
    --glow-color: #FFD500; /* Article (Yellow) Repeated */
    animation-delay: 8.75s;
  }

  .letter[data-index="9"] {
    --glow-color: #0066FF; /* Noun (DodgerBlue) Repeated */
    animation-delay: 10s;
  }

  .letter[data-index="10"] {
    --glow-color: #FF0000; /* Verb (Red) Repeated */
    animation-delay: 11.25s;
  }

  .letter[data-index="11"] {
    --glow-color: #5F00B8; /* Adjective (Purple) Repeated */
    animation-delay: 12.5s;
  }
